:root {
  --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --tfl-blue: hsl(220, 79%, 32%);
  --normal-weight: 400;
  --bold: 700;
  --pixel-font: "Press Start 2P";
  --orange: hsl(35, 100%, 60%);
  --grey: hsl(0, 0%, 50%);
}

body {
  font-family: var(--main-font);
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.arrival-times-box {
  background-color: var(--grey);
  padding: 20px;
}

.arrival-times-container {
  font-family: var(--pixel-font);
  font-size: 24px;
  color: var(--orange);
  font-weight: var(--normal-weight);
  background-color: black;
  padding: 40px;
}

.arrival-times-current-station{
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.arrival-times-current-time{
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.arrival-destination-time-container {
  display: flex;
  justify-content: space-between;
}

/* search bar input */
.search-bar-input {
  padding: 20px;
  font-size: 20px;
  outline: none;
  width: 600px;
}

/* stop point cointainer */
.stop-points-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
  font-family: var(--main-font);
  cursor: pointer;
}

.stop-points-modes-logo {
  display: flex;
  width: 100px
}

.stop-points-modes-logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}